header {
    color: #6495ED;
    font-family: 'Pacifico', cursive;
}

.title {
    float: left;
    font-size: 400%;
    line-height: 0%; /* Force to top left */
    
}

.subtitle {
    font-size: 200%;
    margin-top: 0px;
    
}

.nav_list {
    font-family: 'Pacifico', cursive;
	list-style-type: none;
    padding-top: 25px;
    padding-right: 8px;
    margin: auto;
    float: right;
    display: inline-block;
}

.nav_list_item {
    display: inline;
    font-size: 125%;
}


.center_search {
    padding-top: 10px;
    text-align: center;
    
}

#search {
    height: 38px;
    width: 60%;
    margin-top: 15px;
}


a, a:visited, a:hover {
    color: #6495ED;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}